<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Reddit</title>
  <link rel="stylesheet" href="./public/assets/css/home.css" />
  <link href='http://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
</head>

<body>
  <div id="header">
    <h1>SPACE</h1>
  </div>
  <main>
    <div id="right">

      <a href="/fillpost" class="button">SUBMIT A NEW POST</a>

      <div id="ABOUT">ABOUT
        <a href="youtube.com">this site</a>
        <ul>
          <li>asdf</li>
          <li>fdsa</li>
        </ul>
      </div>

      <a href="/register" class="button">REGISTER / LOG IN</a>

    </div>
    <div id="posts">
      <p>lizzle dapibizzle phat tempus get down get down. Bling bling i'm in the shizzle nibh izzle turpizzle. Ghetto
        izzle tortor. Pellentesque eleifend rhoncizzle yo</p>
    </div>
  </main>

  <script src="./public/assets/js/home.js"></script>
</body>

</html>