<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <link rel="stylesheet" type="text/css" href="/views/styles.css">
  <title>Cocktails</title>
</head>

<body>
  <h1><strong>Cocktails</strong></h1>
  <ul>
    <% alcoholList.forEach(element=>{%>
      <li><%=element%></li>
    <%})%>
  </ul>
</body>

</html>