/* LEO KÓDJA */

body {
  height: 100vh;
  display: flex;
  background: blue;
  align-items: center;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
}

table {
  width: 50%;
  height: auto;
  overflow: hidden;
  border-radius: 10px;
  border-collapse: collapse;
  font-size: 30px;
  border-style: hidden;
}

tr {
  color: grey;
  background: whitesmoke;
}

th, td {
  border: 1px solid #999;
  padding: 20px;
}

th {
  background: black;
  text-align: left;
}


tbody :nth-child(1) th {
  border-bottom: 4px solid gray;
}

tr:nth-child(even) {
  background-color: gray;
  color: black;
}