<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="utf-8"/>
<title>Todos</title>
</head>

<body>
  <h1><strong>Things to do today:</strong></h1>
  <ul>
    <li><%= todos[0] %></li>
    <li><%= todos[1] %></li>
    <li><%= todos[2] %></li>
  </ul>
</body>

</html>