.container{
  display: flex;
  flex-direction: row;
  max-width: 533px;
  height: 20vh;
}

.green {
  background-color: green;
  flex-grow: 1;
  max-width: 33%;
}
.yellow {
  background-color: yellow;
  flex-grow: 2;
  max-width: 240 33%;
}
.purple {
  background-color: purple;
  flex-grow: 1;
  max-width: 120 33%;
}

@media screen and (max-width: 533px) {
  .container {
    flex-direction: column;
  }
  .item {
    max-width: 533px;
    width: 100%;
    flex-grow: 1;
    height: 30px;
  }
}