<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <title>Gallery</title>
  <link rel="stylesheet" href="./../assets/css/style.css" type="text/css" />
</head>

<body>
  <div class="flex-container">
    <button id="left"></button>
    <button id="right"></button>
    <div id="currentBox">

    </div>
    <div #id="description">
      <h1></h1>
      <p></p>
      <div class="thumbnail">
        <button id="1"></button>
        <button id="2"></button>
        <button id="3"></button>
        <button id="1"></button>
        <button id="4"></button>
        <button id="5"></button>
        <button id="6"></button>
        <button id="7"></button>
        <button id="8"></button>
      </div>
    </div>
  </div>
</body>

</html>