.container{
  display: flex;
  flex-direction: row;
  width: 400px;
  height: 20vh;
}

.green {
  background-color: green;
  flex-grow: 1;
}
.yellow {
  background-color: yellow;
  flex-grow: 1;
}
.purple {
  background-color: purple;
  flex-grow: 1;
}