.flex-container {
  display: flex;
}

body {
  background: radial-gradient(circle, white, gray) fixed;
}

#currentBox {
  height: 51vh;
  width: 90vw;
}

/* #left {
  background-image: 
}

#right {

} */
